<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.cristianomoraiscruz.pontodetaxi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AddActivity"
            android:label="Escolha uma opção"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.AddMensalidadeActivity"
            android:label="Adicionar Mensalidade"
            android:parentActivityName=".view.AddActivity" />
        <activity android:name=".view.AddDespesasActivity"
            android:label="Adicionar Despesas"
            android:parentActivityName=".view.AddActivity" />
        <activity
            android:name=".view.AddTaxistaActivity"
            android:label="Adicionar Taxista"
            android:parentActivityName=".view.AddActivity" />
        <activity
            android:name=".view.ListActivity"
            android:label="Lista de Taxistas"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.SobreActivity"
            android:label="Sobre"
            android:parentActivityName=".view.MainActivity" />
        <activity
            android:name=".view.ConfigActivity"
            android:label="Configurações"
            android:parentActivityName=".view.MainActivity" />
    </application>

</manifest>